<script src="{{ site.baseurl }}/assets/js/main.min.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/site-nav.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/publication-filter.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/paper-lightbox.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/card-tilt.js"></script>
<script defer src="{{ site.baseurl }}/assets/js/scroll-reveal.js"></script>

{% if site.google_analytics_id %}{% include analytics.html %}{% endif %}
